textarea:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
select[multiple='multiple']:focus {
  border-color: transparent;
  box-shadow: none;
}

a {
  color: $mainLinkColor;
}

.anchor {
  color: $mainAnchorColor;
}

a:hover {
  color: $mainLinkHoverColor;
}

#sidebar ul li.visited > a .read-icon {
  color: $menuVisitedColor;
}

#body a:after {
  display: block;
  content: '';
  height: 1px;
  width: 0;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: $mainLinkHoverColor;
}
#sidebar {
  background-color: $menuSectionsBgColor;
  z-index: 100;

  #header-wrapper {
    background: $menuHeaderBgColor;
    color: $menuSearchBoxColor;
    border-color: $menuHeaderBgColor;
    background: linear-gradient(#411452, #840e5f);
  }
  .searchbox-extended {
    border-color: $menuSearchBoxColor;
    background: $menuSearchBgColor;

    .algolia-docsearch-suggestion--category-header-lvl0 {
      .algolia-docsearch-suggestion--highlight {
        box-shadow: inset 0 -2px 0 0 rgba($primaryColor, .8);
      }
    }

    .algolia-docsearch-suggestion--highlight {
      color: $primaryColor;
    }
  }
  ul.topics > li.parent,
  ul.topics > li.active {
    background: $menuSectionsActiveBgColor;
  }
  .searchbox-extended {
    input, i {
      color: $menuSearchBoxIconsColor;
    }
  }
  a {
    color: $menuSectionsLinkColor;
    &:hover {
      color: $menuSectionsLinkHoverColor;
    }
  }
  ul li.currentPage > a {
    background: $menuSectionActiveCategoryBgColor;
    color: $menuSectionActiveCategoryColor !important;
  }
  hr {
    border-color: $menuSectionHrColor;
  }
}

#header a {
  color: #fff;
  font-size: 18px;
}

#logo::before {
  content: '';
  width: 40px;
  height: 40px;
  background: url(/images/preston-logo@2x.png) center / 40px no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.function-definition {
  dt {
    font-family: $monospaceFont;
    background: #f0f0f0;
    display: inline-block;
    padding: 0 5px;
  }
}

// "Start reading" button at the bottom of a chapter page
.chapter-start {
  background-color: $primaryColor;
  color: #fff;
  font-size: 20px !important;
  padding: 10px 20px !important;

  &:hover {
    color: #fff !important;
  }
}

.article-footer {
  margin-top: 5rem;
  font-size: 0.75rem;
}

// article images
a[data-featherlight] {
  display: block;

  margin: {
    left: 3rem;
    right: 3rem;
  }

  &::after {
    // remove underline effect
    content: none !important;
  }

  > img {
    max-height: 350px;
  }
}

#hookFilter {
  label {
    margin-bottom: 10px;
  }

  input:focus {
    border-color: $primaryColor;
  }

  .empty {
    display: none;

    &.show {
      display: block;
    }
  }
}

div.search-tags {
  display: none;
}

h1 {
  word-break: break-word; 
}

.pill-bo {
    @extend .version-pill;
    background-color: #FF8787;
}

.pill-fo {
    @extend .version-pill;
    background-color: #B1AFFF;
}

div.mainCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;

  div.mainCategory {
    flex-basis: 23%;

    div.indexCategory {
      color: #e693b9;
      font-size: 36px;
    }

    div.mainCategoryHeading {
      padding-bottom: 10px;
      border-bottom: 3px solid #EEEEEE;
      font-size : 24px;
      font-weight: 600;
      font-family: "Work Sans","Helvetica","Arial",sans-serif;
      margin-bottom: 15px;
    }

    a {
      color: #222222;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;
      min-height: 150px;
    }

    a.explore-all {
      color: #e693b9;
      margin-bottom: 30px;
    }
  }
}

div.mostViewedPagesIcon {
  color: #e693b9;
  font-size: 36px;
  margin-top: 20px;
}
h3.mostViewedPagesHeading {
  margin-top: 0px;
  padding-bottom: 10px;
  border-bottom: 3px solid #EEEEEE;
}

div.mostViewedPages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  div.mostViewedPage {
    flex-basis: 30%;
    border : 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 10px;

    a {
      color: #222222; 
    }

    &:hover {
      background-color: #F8F8F8;
    }
  }
}

h5.footerHeading {
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 10px;
}

div.improvedFooter {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom : 20px;

  div.contribute {
    flex-basis: 55%;

    @media only screen and (max-width: 500px) {
      flex-basis: 100%;
    }

    a.github-link {
      border: 1px solid #df0067;
      padding : 15px 30px;
      border-radius: 10px;
      margin: 10px 0px;
      color: #df0067;
      font-size: 14px;
      background-color: #FDFDFD;
    }

    a {
      color: #df0067;
      font-size: 14px;
    }

    p {
      color: #666666;
    }
  }

  div.support {
    flex-basis: 40%;

    @media only screen and (max-width: 500px) {
      flex-basis: 100%;
    }

    a {
      margin : 10px;
      font-size: 14px;
    }
  }
  
}

a.cta {
  border: 1px solid #df0067;
  padding : 15px 30px;
  border-radius: 10px;
  margin: 10px 0px;
  color: #df0067;
  font-size: 14px;
  background-color: #FFFFFF;
  width: 100%;
  text-align: center;

  &.cta-primary {
    background-color: #df0067;
    color: #FFFFFF;
  }

  &:hover {
    text-decoration: none;
  }

  &.cta-banner {
    margin-top: 20px;
  }
}

.h-version-titles th:not(:first-child) {
  text-align: center;
}

.support-yes, .example-yes {
  background-color: #8ce48c;
  text-align: center;
}
.support-no, .example-no {
  background-color: #e89b9b;
}
.example-yes, .example-no {
  display: inline-block;
  width: 1.1rem; 
  height: 1.1rem;
  margin-bottom: -2px;
}


.conference-banner {
    background-color: #a2e2ef;
    padding: 10px 0;
    position: relative;

    &:hover {
        background-color: #000;
        color: white;
    }

    a {
        position: absolute; width: 100%; height: 100%;
        text-indent: -10000px;

        &::after {
          display: none !important;
        }
    }

    .container {
        @media (min-width:990px) and (max-width: 2500px) {
            width: 1170px;
        }
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 700px) {
            flex-direction: column;
            text-align: center;
        }
    }

    .conference-title {
        font-weight: bold;
    }
}
