<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Types</th>
            <th>Locations</th>
            <th style="display:none">Located in</th>
        </tr>
    </thead>
    <tbody id="hooks">
        {{ range $.Page.Pages }}
        <tr>
            <td><a href="{{ .RelPermalink }}">{{.Title}}</a></td>
            <td>{{.Param "hookTitle"}}</td>
            <td>{{.Param "types"}}</td>
            <td>{{.Param "locations"}}</td>
            <th style="display:none">{{.Param "files"}}</td>
        </tr>
        {{ end }}
    </tbody>
</table>