<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Aliases</th>
            <th>Locations</th>
            <th>Has example</th>
            <th style="display:none">Title</th>
            <th style="display:none">Located in</th>
        </tr>
    </thead>
    <tbody id="hooks">
        {{ range $.Page.Pages }}
        <tr>
            <td><a href="{{ .RelPermalink }}" class="hookTitle">{{.Title}}</a></td>
            <td>
                {{ $aliases := .Param "hookAliases" }}
                {{ if ne nil $aliases }}
                    {{ delimit $aliases ", " }}
                {{ end }}
            </td>
            <td>
                {{ range .Param "locations" }}
                    {{ if eq "back office" . }}
                        <div class="pill-bo">BO</div>
                    {{ end }}
                    {{ if eq "front office" . }}
                        <div class="pill-fo">FO</div>
                    {{ end }}
                {{ end }}
            </td>
            <td>
                {{ if .Param "hasExample" }}
                    ✅
                {{ end }}
            </td>
            <td style="display:none">{{.Param "hookTitle"}}</td>
            <td style="display:none">{{.Param "files"}}</td>
            
        </tr>
        {{ end }}
    </tbody>
</table>