# Hook {{ $.Page.Param "Title" }}

## Informations

{{ if and (ne ($.Page.Param "hookTitle") nil) (ne ($.Page.Param "description") nil) }}
<div class="notices note">
    <strong>{{ $.Page.Param "hookTitle" }}</strong>
    {{ $.Page.Param "description" }}
</div>
{{ end }}

| Hook | {{ $.Page.Param "Title" }} |
| --- | --- |
| Locations | {{ range $.Page.Param "locations" }}{{ if eq "back office" . }}<div class="pill-bo">BO</div> {{ end }}{{ if eq "front office" . }}<div class="pill-fo">FO</div> {{ end }}{{ end }} |
| Type | {{ $.Page.Param "type" }} |
| Origin | {{ $.Page.Param "origin" }} |
| Aliases | {{ $.Page.Param "hookAliases" }} |

{{ if $.Page.Param "array_return" }}
This hook has an `$array_return` parameter set to `true` (module output will be set by name in an array, [see explaination here](/8/development/components/hook/dispatching-hook)).
{{ end }}

{{ if $.Page.Param "check_exceptions" }}
This hook has a `$check_exceptions` parameter set to `false` (check permission exceptions, [see explaination here](/8/development/components/hook/dispatching-hook)).
{{ end }}

{{ if $.Page.Param "chain" }}
This hook has a `$chain` parameter set to `true` (hook will chain the return of hook module, [see explaination here](/8/development/components/hook/dispatching-hook)).
{{ end }}

## Located in

<table>
<tr>
<th>Origin</th>
<th>File</th>
</tr>
{{ range $.Page.Param "files" }}
<tr>
{{ if ne .theme nil }}
<td>{{ .theme }}</td>
{{ else if ne .module nil }}
<td>{{ .module }}</td>
{{ else }}
<td>core</td>
{{ end }}
<td><a href={{.url}}>{{.file}}</a></td>
</tr>
{{ end }}
</table>